#  Copyright (c) 2020 Gerson Fernando Budke <nandojve@gmail.com>
#  SPDX-License-Identifier: Apache-2.0

mainmenu "CSSE4011 Weather Station HTTP Client Configuration"

menu "Weather Station HTTP Client Configuration"

config HTTP_WIFI_SSID
	string "WIFI SSID - Network name"
	default "my_network"

config HTTP_WIFI_PSK
	string "WIFI PSK - Network password key"
	default "secret_passwd"

endmenu

source "Kconfig.zephyr"